.section-project {
	padding: 20px 30px !important;
}

.project-list {
	list-style-type: none;
	padding: 0;
}

.project-list-item {
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid #b6b6b6;
	box-shadow: 0 2px 1px rgba(9, 9, 9, 0.07);
	display: inline-block;
	margin-bottom: 48px;
	margin-left: 25px;
	overflow: hidden;
	vertical-align: top;
	width: 168px;
	&:nth-child(3n+1) {
		margin-left: 0;
	}
}

.pic-wrapper {
	overflow: hidden;
	height: 122px;
	position: relative;
	&:hover {
		.pic-link {
			opacity: 1;
			transform: rotate3d(0,0,0,0deg);
			transition: transform .3s;
		}
	}
	&:before {
		content: '';
		background-color: #6f6d6d;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		box-shadow: 0 2px 1px rgba(9, 9, 9, 0.07);
		height: 100%;
		display: block;
		left: 0;
		top: 0;
		opacity: 0.41;
		position: absolute;
		transition: opacity .3s;
		width: 100%;
	}
	&:hover:before {
		opacity: 0;
	}
}

.pic {
	height: 100%;
	width: 100%;
}

.pic-link {
	display: block;
	border-radius: 4px;
	color: #fff;
	border: 1px dashed #333;
	background: rgba(111, 109, 109, .5);
	top: 39px;
	left: 32px;
	opacity: 0;
	padding: 6px;
	position: absolute;
	text-align: center;
	text-decoration: none;
	transform: rotate3d(1,0,0,90deg);
}

.link-area {
	background-color: #f2f2f2;
	border-top: 1px solid #b6b6b6;
	box-shadow: inset 0 -2px 1px rgba(242, 242, 242, 0.5);
	min-height: 33px;
	padding: 4px;
	text-align: center;
}

.project-link {
	color: #727070;
	font-size: 13px;
	font-family: OpenSans-Bold;
	line-height: 23px;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
	&:hover {
		text-decoration: underline;
	}
}

.text-area {
	color: #727070;
	font-family: OpenSans-Light;
	font-size: 12px;
	line-height: 16px;
	padding: 8px 14px;
	text-align: center;
}

.new-project {
	padding-top: 26px;
	text-decoration: none;
	display: inline-block;
	width: 100%;
	min-height: 134px;
	background-color: white;
	background-image: linear-gradient(to top, #edebea 0%, #fbf9f9 94%, white 100%);
	box-shadow: 0 0px 1px 1px rgba(9, 9, 9, 0.09), inset 0 -2px 3px rgba(41, 41, 41, 0.05), inset 0 0 3px #f6f7f7;
	text-align: center;
	&:hover {
		cursor: pointer;
		background-color: white;
		background-image: linear-gradient(to top, #c2c0c0 0%, #e3e1e1 86%, #e3e1e1 87%, #e8e7e7 100%);
		box-shadow: inset 0 -2px 3px rgba(41, 41, 41, 0.05), inset 0 0 3px rgba(202, 202, 202, 0.61);
		.add-project-field {
			background-color: #d7d7d7;
			box-shadow: 1px 1px 0 0 white, inset 0.5px 0.9px 0 rgba(199, 199, 199, 0.75);
		}
	}
	&:active {
		padding-top: 27px;
		box-shadow: inset 0 0 3px rgba(202, 202, 202, 0.61), inset 0 2px 3px rgba(41, 41, 41, 0.15), inset 0 -2px 3px rgba(41, 41, 41, 0.15), inset 2px 0px 3px rgba(41, 41, 41, 0.15), inset -2px 0 3px rgba(41, 41, 41, 0.15);
	}
}

.add-project-field {
	background-color: #f7f7f7;
	border-radius: 50%;
	box-shadow: 0 1px 0 #eee, inset 1px 1px 1px 0 rgba(199, 199, 199, 0.75);
	height: 54px;
	margin: 0 auto;
	margin-bottom: 14px;
	position: relative;
	width: 53px;
	&:hover {
		background-color: #d7d7d7;
		box-shadow: 0 1px 0 #eee, inset 0.5px 0.9px 0 rgba(199, 199, 199, 0.75);
	}
}

.add-project-icon {
	background-image: url(../img/sprite.png);
	background-position: -84px -195px;
	box-shadow: 0 1px 1px rgba(255, 255, 255, 0.85);
	height: 18px;
	left: 18px;
	position: absolute;
	top: 19px;
	width: 18px;
}

.add-project-text {
	color: #727070;
	font-family: OpenSans-SemiBold;
	font-size: 14px;
	line-height: 22px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
	vertical-align: middle;
}

// ========== ADD-PROJECT-POPUP ==========

.add-project-popup {
	display: none;
}

.add-project-form {
	margin-top: 4px;
	width: 364px;
	padding: 22px;
	min-height: 463px;
	background-color: #f5f4f3;
	border: 1px solid #c3c2c2;
	border-radius: 4px;
	box-shadow: 0 11px 27px rgba(159, 159, 159, 0.75), inset 0 6px 6px white;
}

.add-project-label {
	margin-left: 22px;
	color: #f8f7f6;
	font-family: OpenSans-Regular;
	font-size: 13px;
}

.project-name {
	width: 320px !important;
	margin-bottom: 11px;
}

.project-image {
	width: 272px !important;
	margin-bottom: 11px;
}

.project-url {
	width: 320px !important;
	margin-bottom: 11px;
}

.description {
	width: 320px !important;
	background-color: #fbfcfd;
	background-image: linear-gradient(to top, rgba(233, 231, 231, 0.2) 0%, transparent 100%);
	border: 1px solid #48cbe8;
	border-radius: 4px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.35), inset 0 2px 2px rgba(114, 112, 112, 0.1), 0 0 1px rgba(255, 255, 255, 0.15);
	margin-bottom: 13px;
}

.add-button {
	color: #1e7465;
	float: none !important;
	font-family: OpenSans-Bold;
	font-size: 14px;
	line-height: 0;
	margin-left: 0;
	text-align: center;
	margin: 0 auto !important;
}


// ========== ADD-PROJECT-POPUP ==========